.page-footer{
    padding-bottom: 10px;
}

.clickable-cell {
    color: #337ab7;
}
.clickable-cell:hover {
    cursor: pointer;
    text-decoration: underline;
}

.error {
    color: red;
}


.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .help-block-error, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .help-block-error {
    opacity: 1;
    filter: alpha(opacity=1); }
.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus) ~ .help-block {
    opacity: 1;
    filter: alpha(opacity=1); }
.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus) ~ .help-block-error {
    opacity: 1;
    filter: alpha(opacity=1); }

.text-info {
    color: #659be0;
}

.no-top-margin {
    margin-top: 0;
}

.page-break-after {
    page-break-after: always;
}

.page-break-before {
    page-break-before: always;
}

.grey-background {
    background-color: #eee;
}

.hiddenRow {
    display: none;
}

.greyed-out {
    opacity: 0.7;
}

.small-bottom-margin {
    margin-bottom: 5px;
}

@media print {
    a[href]:after {
        content: none !important;
    }
    .no-print { display: none !important;; }
    .tools { display: none !important;; }
    .actions { display: none !important;; }
    .bordered {
        border: none !important;
    }
    p, li, label{
        font-size: .8em !important;
    }

    .form-group.form-md-line-input.form-md-floating-label {
        margin-bottom: 5px;
    }
    .md-radio, .md-checkbox {
        margin-bottom: 3px !important;
    }
}