.page-footer{
    padding-bottom: 10px;
}

.clickable-cell {
    color: #337ab7;
}
.clickable-cell:hover {
    cursor: pointer;
    text-decoration: underline;
}

.error {
    color: red;
}


.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .help-block-error, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .help-block-error {
    opacity: 1;
    filter: alpha(opacity=1); }
.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus) ~ .help-block {
    opacity: 1;
    filter: alpha(opacity=1); }
.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus) ~ .help-block-error {
    opacity: 1;
    filter: alpha(opacity=1); }

.text-info {
    color: #659be0;
}

.no-top-margin {
    margin-top: 0;
}